@import "/src/assets/variables.scss";

.registrationPage {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 100vh;
   
    h2 {
        text-align: center;
        color: white;
    
    }
    p {
        color:rgb(139, 139, 139);    
    }
    .register-form {
        width: 600px;
        height: 100%;
        background-color: $cardPrimaryBg;
        padding: 2em 4em;
        border-radius: 5px;
    }
    .login-form-forgot {
        text-align: center;
    }
    .login-form-button {
        width: 100%;
    }
}
